@model Treehouse.FitnessFrog.Models.Entry


@{
    ViewBag.Title = "Add Entry";

    /*
    var selectListItems = new[]
    {
        new SelectListItem(){ Value = "1", Text = "Item 1", Selected = false },
        new SelectListItem(){ Value = "2", Text = "Item 2", Selected = false },
    };
    */

    var items = new[]
    {
       new { Id = 1, Name = "Item 1" },
       new { Id = 2, Name = "Item 2" }
    };

    var selectListItems = new SelectList(items, "Id", "Name");

}

@*Comentario C# na view==========================================================================================*@

<h2>@ViewBag.Title</h2>


@Html.Partial("_EntryForm")

@*ViewBag.Erro*@

<!--Este apenas mostra uma lista com todas as mensagens de erro-->
@*Html.ValidationSummary()*@

<!--Com parâmetro true só retorna mensagens de erro globais-->
@*Html.ValidationSummary(true)*@




<!--
<form method="post">

    <div class="row">

        <div class="col-md-6">

            <div class="form-group">
                <label for="Date" class="control-label">Date</label>
                <input type="text" id="Date" name="Date" class="form-control" value="@ViewBag.Date" />
            </div>

            <div class="form-group">
                <label for="ActivityId" class="control-label">Activity</label>
                <input type="text" id="ActivityId" name="ActivityId" class="form-control" value="@ViewBag.ActivityId" />
            </div>

            <div class="form-group">
                <label for="Duration" class="control-label">Duration</label>
                <input type="text" id="Duration" name="Duration" class="form-control" value="@ViewBag.Duration" />
            </div>

            <div class="form-group">
                <label for="Intensity" class="control-label">Intensity</label>
                <input type="text" id="Intensity" name="Intensity" class="form-control" value="@ViewBag.Intensity" />
            </div>

            <div class="form-group">
                <label for="Exclude" class="control-label">Exclude</label>
                <input type="text" id="Exclude" name="Exclude" class="form-control" value="@(ViewBag.Exclude != null ? ViewBag.Exclude.ToString() : "")" />
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">
                <label for="Notes" class="control-label">Notes</label>
                <textarea id="Notes" name="Notes" class="form-control" rows="14" cols="20">@ViewBag.Notes</textarea>
            </div>

        </div>

        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>

    </div>

</form>
    -->